[include macros.cfg]
[include KAMP_Settings.cfg]

[force_move]
enable_force_move: true

[include mainsail.cfg]

[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

[include options/lcd/*.cfg]

[include expander.cfg]

[include options/probe/eddy-ng.cfg]
[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2D0054001851323139353737-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FF6F063042413843290643-if00
restart_method: command      



[firmware_retraction]


[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 10000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
# Assigned to TMC5160 driver (HV1) for 48V operation
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: !PC1
position_min: 0
position_endstop: 354
position_max: 354
homing_speed: 30
homing_retract_dist: 5
homing_positive_dir: True

[tmc5160 stepper_x]
# Configured for TMC5160 driver
cs_pin: PE15
spi_bus: spi4
diag0_pin: ^!PG1
interpolate: False
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y]
# Assigned to TMC5160 driver (HV2) for 48V operation
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: !PC2
position_min: 0
position_endstop: 364
position_max: 364
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]
# Configured for TMC5160
cs_pin: PE11
spi_bus: spi4
diag0_pin: ^!PE10
driver_SGT: 0
interpolate: False
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_z]
# Assigned to TMC2209 driver (Z0)
step_pin: PD4
dir_pin: PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16
endstop_pin: probe:z_virtual_endstop #!PC3
position_max: 347
position_min: -5
#position_endstop: -0.5
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PD5
interpolate: true
run_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
# Assigned to TMC2209 driver (Z1)
step_pin: PC12
dir_pin: !PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: true
run_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 999999
;uart_address: 3

[stepper_z2]
# Assigned to TMC2209 driver (Z2)
step_pin: PC9
dir_pin: PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PA8
interpolate: true
run_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 999999
;uart_address: 3

[stepper_z3]
# Assigned to TMC2209 driver (Z3)
step_pin: PG7
dir_pin: PG6
enable_pin:!PC7
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PG8
interpolate: true
run_current: 0.45
sense_resistor: 0.110
stealthchop_threshold: 999999
;uart_address: 3

#thermistor my_thermistor_e
#sensor_type: PT1000




[thermistor my_thermistor_e]
temperature1: 25
resistance1: 110000
temperature2: 100
resistance2: 7008
temperature3: 220
resistance3: 435



[extruder]~/printer_data/config/moonraker.conf
# Retained for extra_mcu (toolhead board)
step_pin: extra_mcu:PA8
dir_pin: extra_mcu:PB8
enable_pin: !extra_mcu:PB11
rotation_distance: 6.7
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 1.75
filament_diameter: 1.75
max_extrude_only_distance: 150
max_extrude_cross_section: 5
heater_pin: extra_mcu:PB9
sensor_type: my_thermistor_e
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5
min_temp: 5
max_temp: 305
max_power: 1.0
min_extrude_temp: 5

#pid_kp = 31.418
#pid_ki = 4.364
#pid_kd = 56.552

[tmc2209 extruder]
# Retained for extra_mcu
uart_pin: extra_mcu:PB10
interpolate: True
run_current: 0.8
sense_resistor: 0.150
uart_address: 3

[verify_heater extruder]
max_error: 120
check_gain_time: 30
hysteresis: 5
heating_gain: 2

[filament_motion_sensor encoder_sensor]

switch_pin: !PC0
detection_length: 12.0
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

[thermistor my_thermistor]
;sensor_type: Generic 3950
;pullup_resistor: 0
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
# Updated to Leviathan's heatbed output
heater_pin: PG11
pullup_resistor: 2200
sensor_type: my_thermistor
sensor_pin: PA0
max_power: 1.0
min_temp: -100
max_temp: 130
control: pid
pid_kp = 71.708
pid_ki = 1.935
pid_kd = 664.195

[verify_heater heater_bed]
max_error: 120
check_gain_time: 40
hysteresis: 5
heating_gain: 2


[probe_pressure]
# Updated to Leviathan's endstop input
pin: PF9
x_offset: 0
y_offset: 0
z_offset: 0
speed: 1.0


[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 100
horizontal_move_z: 10
retry_tolerance: 0.05
retries: 10
max_adjust: 30


[bed_mesh]
horizontal_move_z: 2.0
speed: 350
mesh_min: 30, 30  # modify these according to the below guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 300, 300 # modify these according to the below guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 25, 25
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
adaptive_margin: 5


[multi_pin print_cooling_fan_pins]
# Retained for extra_mcu
pins: extra_mcu:PA7, extra_mcu:PB1

[fan]
# Retained for extra_mcu
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic tool_fan]
# Retained for extra_mcu
pin: extra_mcu:PB0
max_power: 1.0

[fan_generic exhaust_fan]
# Updated to Leviathan's fan output
pin: PB3
max_power: 1.0

[temperature_fan MCU_fan]
# Updated to Leviathan's fan output
pin: PB7
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 50
sensor_type: temperature_mcu
max_speed: 1.0
min_speed: 0.1
control = pid
pid_kp = 31.418
pid_ki = 4.364
pid_kd = 56.552
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.0

[heater_fan hotend_fan]
# Retained for extra_mcu
pin: extra_mcu:PA6
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50
tachometer_pin: extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]
resolution: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1800

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 110
#sensor_mcu: host_mcu

[temperature_sensor Toolhead_Temp]
# Retained for extra_mcu
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
# Retained for extra_mcu
cs_pin: extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30
accel_per_hz: 50
min_freq: 1
max_freq: 100
max_smoothing: 0.2
hz_per_sec: 0.5

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 68
shaper_type_y: mzv
shaper_freq_y: 43.4
#max_accel: 10000
damping_ratio_x: 0.046
damping_ratio_y: 0.052

[save_variables]

filename: ~/printer_data/config/saved_variables.cfg


[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.621
#*# pid_ki = 13.201
#*# pid_kd = 26.804
#*#
#*# [heater_bed]
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.058364, -0.028017, -0.003814, 0.015326, 0.013397, 0.015326, 0.007676, 0.010572, 0.049399, 0.064396, 0.051298, 0.015326, 0.015326, 0.022951, 0.000000, -0.005760, -0.001907, -0.013481, -0.050496, -0.096113, -0.102118
#*# 	  -0.104138, -0.080141, -0.048518, -0.021223, -0.028997, -0.021223, -0.013481, -0.007702, 0.038124, 0.058803, 0.051298, 0.021028, 0.028633, 0.032465, 0.007676, 0.007676, 0.015326, 0.009605, -0.027037, -0.066265, -0.080141
#*# 	  -0.066265, -0.032865, 0.003875, 0.036214, 0.030550, 0.032465, 0.017249, 0.017249, 0.056910, 0.071858, 0.064396, 0.036214, 0.040032, 0.043768, 0.013397, 0.007676, 0.015326, 0.015326, -0.015430, -0.058364, -0.080141
#*# 	  -0.086105, -0.054400, -0.025078, 0.009605, 0.003875, 0.005740, -0.003814, -0.003814, 0.038124, 0.058803, 0.058803, 0.036214, 0.038124, 0.045672, 0.015326, 0.013397, 0.021028, 0.024872, -0.005760, -0.050496, -0.072193
#*# 	  -0.054400, -0.021223, 0.007676, 0.049399, 0.041863, 0.043768, 0.021028, 0.021028, 0.056910, 0.071858, 0.073743, 0.044720, 0.049399, 0.051298, 0.020102, 0.009605, 0.021028, 0.026792, -0.003814, -0.048518, -0.070201
#*# 	  -0.062287, -0.034830, -0.011529, 0.017249, 0.011538, 0.015326, 0.003875, 0.007676, 0.049399, 0.071858, 0.071858, 0.045672, 0.051298, 0.053201, 0.021028, 0.013397, 0.022951, 0.032465, 0.007676, -0.036797, -0.064272
#*# 	  -0.034830, -0.009583, 0.021028, 0.054149, 0.049399, 0.047575, 0.028633, 0.028633, 0.064396, 0.081174, 0.081174, 0.056910, 0.064396, 0.061604, 0.022951, 0.017249, 0.028633, 0.036214, 0.011538, -0.038708, -0.064272
#*# 	  -0.054400, -0.034830, -0.013481, 0.013397, 0.006708, 0.007676, 0.000000, 0.000000, 0.036214, 0.064396, 0.064396, 0.041863, 0.049399, 0.050349, 0.017249, 0.009605, 0.022951, 0.031508, 0.003875, -0.042650, -0.072193
#*# 	  -0.052472, -0.027037, 0.000000, 0.036214, 0.030550, 0.030550, 0.009605, 0.007676, 0.041863, 0.060699, 0.060699, 0.038124, 0.041863, 0.041863, 0.010572, 0.001936, 0.013397, 0.019175, -0.007702, -0.054400, -0.085103
#*# 	  -0.080141, -0.057374, -0.036797, -0.003814, -0.011529, -0.007702, -0.027037, -0.025078, 0.015326, 0.038124, 0.042816, 0.021028, 0.030550, 0.036214, 0.000000, -0.005760, 0.007676, 0.017249, -0.007702, -0.050496, -0.088110
#*# 	  -0.080141, -0.053436, -0.021223, 0.017249, 0.007676, 0.007676, -0.015430, -0.025078, 0.007676, 0.032465, 0.030550, 0.015326, 0.022951, 0.030550, -0.002844, -0.007702, 0.000000, 0.007676, -0.014455, -0.064272, -0.096113
#*# 	  -0.114186, -0.088110, -0.066265, -0.034830, -0.040678, -0.036797, -0.056384, -0.058364, -0.021223, 0.001936, 0.007676, -0.011529, 0.001936, 0.013397, -0.019269, -0.015430, -0.004787, 0.003875, -0.023179, -0.072193, -0.108144
#*# 	  -0.100106, -0.066265, -0.034830, 0.007676, 0.006708, 0.007676, -0.021223, -0.028997, 0.002905, 0.017249, 0.015326, -0.007702, 0.007676, 0.019175, 0.000000, 0.000000, 0.015326, 0.015326, -0.019269, -0.067235, -0.102118
#*# 	  -0.110169, -0.088110, -0.056384, -0.016374, -0.011529, 0.007676, -0.009583, -0.016374, 0.007676, 0.019175, 0.007676, -0.013481, 0.001936, 0.022951, 0.017249, 0.024872, 0.034302, 0.032465, -0.007702, -0.056384, -0.096113
#*# 	  -0.102118, -0.070201, -0.028997, 0.022951, 0.032465, 0.051298, 0.036214, 0.021028, 0.036214, 0.034302, 0.017249, -0.015430, 0.000000, 0.028633, 0.028633, 0.041863, 0.049399, 0.040948, -0.003814, -0.056384, -0.096113
#*# 	  -0.118243, -0.096113, -0.064272, -0.015430, 0.001936, 0.029592, 0.024872, 0.019175, 0.036214, 0.028633, 0.009605, -0.027037, -0.013481, 0.015326, 0.022951, 0.041863, 0.049399, 0.036214, -0.011529, -0.066265, -0.104138
#*# 	  -0.110169, -0.074187, -0.034830, 0.017249, 0.032465, 0.056910, 0.048487, 0.038124, 0.056910, 0.051298, 0.028633, -0.005760, 0.007676, 0.028633, 0.028633, 0.040032, 0.046623, 0.032465, -0.013481, -0.067235, -0.108144
#*# 	  -0.122279, -0.099097, -0.074187, -0.027037, -0.013481, 0.013397, 0.013397, 0.015326, 0.043768, 0.051298, 0.041863, 0.011538, 0.022951, 0.041863, 0.030550, 0.036214, 0.036214, 0.022951, -0.021223, -0.074187, -0.110169
#*# 	  -0.118243, -0.088110, -0.048518, -0.005760, 0.000000, 0.015326, 0.009605, 0.015326, 0.051298, 0.071858, 0.071858, 0.045672, 0.056910, 0.071858, 0.045672, 0.043768, 0.036214, 0.017249, -0.028997, -0.082141, -0.118243
#*# x_count = 21
#*# y_count = 19
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 67.0
#*# max_x = 283.0
#*# min_y = 66.0
#*# max_y = 268.5
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUKLK5XCeB/U/U0iQ+taI/T+BeHTE5WHqP5RNVpdCjt0/C8/fz3/QsD+EZfmX7ajCv2yRPgmuGtY/2zlVAvLt4z+SZuQu14Guv3WlKAgkn9K/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ7ndqbrLJlD7g9ur+4w6VPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ/o1eLV4vG0BXdguA/7EIQPzMbnlOjAJA1Vaxw6PJG0BPoMhEozwDwJHpTrXn6TbAEjmV9N+qHUBvTRbbyedBQLYsG2ys8RDA/uiq/tGrMcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEGZoTO6RDJU+wYeMi+MclT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CWklAHcP2UPnVbOyWP6Bs+Jh+x02HvDL5CcFOp+1LlPV4gdaeitOy9ZEMsDWyECj69aq2lMCziPSgPiDPrbhG+fHfeOJNJ0r2O9cXO+xEAPpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQwE3DlLD5RD+WMwjD1vcTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/RPmwlMNNwEdALf//5IedMmWMB2ZfcmFuZ2WUXZQoR0FIQCnG6DgAR0FIoTZ5wDAAZYwCZGOUSxB1Lg==
#*# tap_adjust_z = 0.200
